@font-face {
  src: url(Eleven.ttf);
  font-family: 'Eleven';
}

body {
  background: #000000;
  color: #ffffff;
  font-family: 'Eleven';
  margin: 0;
}

#gameArea {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  height: 100vh;
}

#arrowDisplay {
  display: block;
  text-align: center;
  font-size: 12em;
}

#imageDisplay {
  position: fixed;
  width: 50%;
}

#commentDisplay {
  position: absolute;
  bottom: 12.5%;
  line-height: 1.5em;
  text-align: center;
  font-size: 2em;
  width: 100%;
}

#score {
  position: fixed;
  bottom: 0;
  left: 10%;
  right: 10%;
  line-height: 1.5em;
  text-align: center;
  font-size: 2em;
}

#highScoreDisplay {
  display: none;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
}

#highScoreDisplay td {
  width: 20%;
}


@-webkit-keyframes fadeout {
  0% {opacity:1;}
  100% {opacity:0;}
}
@keyframes fadeout {
  0% {opacity:1;}
  100% {opacity:0;}
}

.fadeOut {
  -moz-animation   : fadeout .25s ease;
  -webkit-animation: fadeout .25s ease;
  animation        : fadeout .25s ease;
  animation-fill-mode: forwards;
}

.standard {
  color: #ffffff;
}

.fail {
  color: #CB0000;
}

.success {
  color: #9EE22E
}
